<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">jop5oup@postgres-je</property>
        <property name="hibernate.connection.password">JeMj8386</property> 
        <property name="hibernate.connection.url">jdbc:postgresql://postgres-je.postgres.database.azure.com:5432/postgres?createDatabaseIfNotExist=true</property>

        <!-- Hibernate Properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">public</property> <!-- This should be the name of your schema -->
        <!-- Hibernate console output -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- DDL -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- We HAVE TO map our classes here in order for them to get picked up by Hibernate--> 
        <!--<mapping class="com.revature.weddingDreams.models.User"/>
        <mapping class="weddingDreams.models.Wedding"/>       
        <mapping class="weddingDreams.models.Asset"/>-->
        
	</session-factory>
</hibernate-configuration>